*, *:before, *:after {
    box-sizing: border-box;
}
body, html, #svelte {
    width: 100%;
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Century Gothic';
}
.line {
    background-color: #2d2d2d;
}
h1, h2, h3, h4, h5, p {
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 30px;
}
p {
    color: #7D7D7D;
    line-height: 1.45;
}

::-webkit-scrollbar {
    appearance: none;
    width: 5px;
}
::-webkit-scrollbar-track {
    background: #00000033;
}
::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0.226);
}


:root {
    --tran-4: rgba(0, 0, 0, 0.16);
}